@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
	background-color: #222222;
	color: white;
	font-weight: light;
}

body {
    overflow-y: scroll;
}

#content {
	margin-left: 10%;
	margin-right: 10%;
}

#wordOverview {
	width: 80%;
	margin-left: 2em;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 4em;
	line-height: 150%;
	font-weight: normal;
    color: salmon;
    margin: 0;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
	line-height: 150%;
	font-weight: normal;
    color: gray;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	line-height: 150%;
	font-weight: normal;
}

h4 {
	font-size: 1em;
	line-height: 175%;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

ol {
    list-style: none;
    counter-reset: li;
}

li.numbered,
li.lettered {
    counter-increment: li;
	padding: 0.5em 0;
}

li.numbered::before {
    content: counter(li);
	font-family: 'Lora', serif;
    font-size: 2em;
    color: #444444;
    display: inline-block;
    vertical-align: top;
    width: 2em;
    margin-left: -3em;
    margin-right: 1em;
    text-align: right;
    direction: rtl;
}

li.lettered::before {
    content: counter(li, lower-alpha);
	font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #444444;
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    margin-left: -2em;
    margin-right: 1em;
    text-align: right;
    direction: rtl;
}

.defContent {
	padding-bottom: 0.5em;
	line-height: 150%;
    letter-spacing: 0.25px;
    display: inline-block;
    vertical-align: top;
}

.part_of_speech {
    font-size: 1.5em;
	border-radius: 15px;
	padding: 0px 6px 3px 6px;
}

.noun {
	border: 1px solid lime;
	color: lime;
}

.adjective {
	border: 1px solid cornflowerblue;
	color: cornflowerblue;
}

.article {
	border: 1px solid orchid;
	color: orchid;
}

.particle {
	border: 1px solid teal;
	color: teal;
}

.verb {
	border: 1px solid orange;
	color: orange;
}

.adverb {
	border: 1px solid violet;
	color: violet;
}

.slang {
	border: 1px solid khaki;
	color: khaki;
}

.interjection {
	border: 1px solid indianred;
	color: indianred;
}

.phrase {
	border: 1px solid hotpink;
	color: hotpink;
}

.proverb {
	border: 1px solid salmon;
	color: salmon;
}

.preposition {
	border: 1px solid springgreen;
	color: springgreen;
}

.conjunction {
	border: 1px solid salmon;
	color: salmon;
}

.prefix {
	border: 1px solid green;
	color: green;
}

.suffix {
	border: 1px solid cadetblue;
	color: cadetblue;
}

.definition {
	padding-left: 1em;
}

.example {
	font-style: italic;
	color: gray;
	margin-left: 1em;
}

.img-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
    padding-top: .333%;
}

.stock-img {
	max-width: 33%;
	height: auto;
	border-radius: 10px;
    object-fit: cover;
}

p {
	color: gray;
}

#search {
	width: 60%;
	border-radius: 2em;
	padding: 1em;
	margin: auto;
	display: block;
	font-size: 1em;
	background-color: #333333;
	color: white;
	border-style: hidden;
}

#search:focus {
  outline: none;
}

#title {
	color: rgb(107, 200, 255);
}

.logo {
    filter: brightness(75%);
}

a {
    text-decoration: none;
    color: lightgray;
}

#word {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 0;
}

.word-column {
	max-width: 50%;
	height: auto;
	border-radius: 10px;
}

.alternate {
    font-size: 3.5em;
    padding: auto;
    padding-top: 0.25em;
    text-align: center;
    color: gray;
}

.alternate-small {
    font-size: 1.5em;
    text-align: center;
    color: gray;
}

.sources {
    text-align: right;
}

.origin-text {
    line-height: 150%;
    color: lightgray;
}

i, b, strong {
    color: lightcoral;
    font-weight: normal;
}

.word-entry {
    padding-right: 2em;
}

.gray {
    color: gray;
}

.bar-item {
    font-family: 'Lora', serif;
	font-size: 1.15em;
    color: lightgray;
	border-radius: 2em;
	padding: 0.75em;
	margin: 0em 0.5em;
	background-color: #444444;
    border: none;
}

.bar-item:hover {
	background-color: gray;
    color: white;
}

.bar-selected {
	background-color: salmon;
    color: white;
}

.bar-selected:hover {
	background-color: salmon;
    color: white;
}

/*  Scrollbar */

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}

/* Sliding animation */

.slide-up {
    animation: slide-up 0.5s forwards;
    -webkit-animation: slide-up 0.5s forwards;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

/* Fading animation */

.fade-in {
    animation: fade-in 1s forwards;
    -webkit-animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}